.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  padding: 0.5rem;
}

input, textarea, select {
  margin-left: 0.5rem;
}
